<div class="mk-candlestick">
	<ul class="candlestick-head">
		<li><a href="#">1m</a></li>
		<li><a href="#">5m</a></li>
		<li><a href="#">15m</a></li>
		<li><a href="#">30m</a></li> | 
		<li><a href="#">1h</a></li>
		<li><a href="#">2h</a></li>
		<li><a href="#">4h</a></li>
		<li><a href="#">6h</a></li>
		<li><a href="#">12h</a></li> | 
		<li><a href="#">1d</a></li>
		<li><a href="#">3d</a></li> | 
		<li><a href="#">1w</a></li>
	</ul>

	<ul>
		<li><a href="#">Candlestick</a></li>
		<li><a href="#">Line</a></li> | 
		<li><a href="#">MA</a></li>
		<li><a href="#">EMA</a></li> | 
		<li><a href="#">MACD</a></li>
	</ul>
</div>