<div class="col-md-12 mk-header">
	<div class="col-md-6 mk-header-left">
		<h1><a href="/">BBitcoin</a></h1>
		<p class="navbar-text"><span data-title="24h Volume"><span class="vol">0.0 BTC</span></span><span data-title="High"><span class="high">0.0</span></span><span data-title="Low"><span class="low">0.0</span></span><span data-title="Change"><span class="change"><span class="text-up">+0.00%</span></span></span></p>
	</div>
	<div class="col-md-6 mk-header-right">
		<ul class="mk-header-menu">
			<li><span>Summary : </span><span>¥0.00</span></li>
			<li><a href="#">Profile</a></li>
			<li><a href="#">Language</a></li>
		</ul>
	</div>
</div>