<div class="order-book">
	<table>
		<thead>
			<tr>
				<td>Amount</td>
				<td>Volume</td>
				<td>BID</td>
				<td>ASK</td>
				<td>Volume</td>
				<td>Amount</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>