<header class="home-header">
	<div class="col-md-3">
		<h1>BBitcoin</h1>
	</div>

	<div class="col-md-5">
		<p>
		    Price BTC/JPY: 57,949
		    Balance BTC: 0.00000000 JPY: 0 JPY
		</p>
	</div>

	<div class="col-md-4">
		<ul>
			<li><a href="#">Account</a></li>
			<li><a href="#">Language</a></li>
		</ul>
	</div>
</header>