	<div class="col-md-3 home-page-nav">
		<div class="nav-top">
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="#">Buy/Sell Bitcoin</a></li>
				<li><a href="#">Bitcoin Exchanger </a></li>
				<li><a href="/markets">BBitcoin Lightnight</a></li>
				<li><a href="#">Trade Report</a></li>
			</ul>
		</div>
		
		<div class="nav-bottom">
			<h2>Other</h2>
			<ul>
				<li><a href="#">Account Activity</a></li>
				<li><a href="#">Setting</a></li>
				<li><a href="#">FAQs</a></li>
				<li><a href="#">Logout</a></li>
			</ul>
		</div>
	</div>